@use "../../scss/" as *;

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 3rem;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    &__loadmore {
        @include flex(center, center);
        text-align: center;
        width: 100%;
        
        .small {
            cursor: pointer;
            width: 150px;
        }
    }
}

.movie-search {
    @include flex(center, center);
    position: relative;
    width: 100%;
    max-width: 600px;
    gap: 12px;

    input {
        width: 100%;
    }

    button {
        position: absolute;
        right: 0;
        top: 2px;
        background-color: black;

        @include mobile {
            right: 1px;
            top: 1px;
        }

    }

    .small {
    padding: 0.35rem 1.5rem;

        cursor: pointer;
        width: 160px;
    }
}