@use '../../scss' as *;

.footer {
    position: relative;
    padding: 6rem 1rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        max-width: 820px;

        &__logo {
            @include flex (center, center);
            margin-bottom: 3rem;
        }

        &__menus {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            background-color: rgba(0, 0, 0, 0.6);;
            border-radius: $border-radius;
            
            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        
        &__menu {
            @include flex(center, center);
            flex-direction: column;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            font-size: 1.5rem;
            font-weight: 300;

            & > * ~ *  {
                margin-top: 1rem;
            }

        }
    }
}